*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF3F0;
    font-family: sans-serif;
}
/* Nav Bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
    background-color: #9046CF;
    color: #FFFFFF;
    padding: 25px 60px;
    margin-bottom: 30px;
}
    /* Cart Icon on Nav Bar */
.cart {
    position: relative; /* Have this here to make the 0 in the top right corner */
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 30px;
}
.cartAmount {
    /* Styling to make the 0 in the top right corner + styling of it */
    position: absolute; 
    top: -15px; /* To top */
    right: -10px; /* Shift to right. The px is important or won't work. */
   /* Cart Amount Styling */
    font-size: 16px;
    background-color: #F487B6;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
}
/* Banner Image */
.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner-img{
    width: 1085px;
    margin-bottom: 30px;
    
}
/* Shop Item Styles and Media Queries */
.shop{
    display: grid;
    grid-template-columns: repeat(4, 250px); /* Creates four repeating colums with width of 250px */
    gap: 30px;
    justify-content: center;
}
.item{
    border: 2px solid #9046CF;
    border-radius: 4px;
    background-color: white;
}
.shop-image{
    max-width: 246px;
    border-radius: 2px;
}
.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFF;
}
.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}
/* About Us */
.solid{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.solid-hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #9046CF 6px solid;
    margin: 30px 30px;
    width: 1090px
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 700px;
}
.our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 1090px;
}
.about-h2{
    color: #9046CF;
    margin-bottom: 12px;
    margin-top: 12px;
}
.about-p{
    margin-bottom: 30px;
}
.about-img{
    margin-top: 30px;
}
 /* Footer */
 .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #9046CF;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 12px;
}
.copyright {
    color: #FFF3F0;
    text-decoration: none;
    margin-left: 5px;
}
/* Media Queries */
 /* Viewports between 200px and 280px wide */
@media only screen and (min-device-width: 200px) and (max-device-width: 281px) {
    body{
        width: 100vw;
    }
    /* Banner */
    .banner-img{
        width: 100vw;
        margin-bottom: 10px; 
    }
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(1, 175px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 171px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 280px;
        margin-bottom: 30px;
        font-size: .65rem;
    }
    h2 {
        margin-right: 3px;
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4{
        font-size: .9rem;
    }
    p {
        font-size: .75rem;
    }
    /* About Us */
.solid{
    border-top: #9046CF 6px solid;
    margin: 40px 40px;
    width: 90vw;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 20px 20px;
    
   
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}
.about-h2{
    color: #9046CF;
    margin-bottom: 12px;
    margin-top: 12px;
}
.about-p{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 90vw;
    
}
.about-img{
    margin-top: 30px;
}
.media-about-img{
    width: 70vw;
}
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 280px;
        margin-top: 30px;
        padding: 10px 10px;
        font-size: .44rem;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}
/* Viewports between 282px and 395px wide */
@media only screen and (min-device-width: 282px) and (max-device-width: 395px) {
    body{
        max-width: 100vw;
    }
    /* Banner */
    .banner-img{
        max-width: 100vw;
        margin-bottom: 30px; 
    }
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(1, 250px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 248px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 395px;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
    h2 {
        margin-right: 3px;
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 395px;
        margin-top: 30px;
        padding: 10px 10px;
        font-size: 12px;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}
/* Viewports between 396px and 600px wide */
@media only screen and (min-device-width: 396px) and (max-device-width: 600px) {
    /* Banner */
    .banner-img{
        max-width: 100vw;
        margin-bottom: 30px; 
    }
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(1, 250px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 248px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 700px;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
    h2 {
        margin-right: 3px;
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 700px;
        margin-top: 30px;
        padding: 10px 10px;
        font-size: 12px;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}
/* Viewports between 601px and 900px wide */
@media only screen and (min-device-width: 601px) and (max-device-width: 1200px) {
    body{
        max-width: 100vw;
    }
    /* Banner */
   .banner-img{
    max-width: 100vw;
    margin-bottom: 30px; 
}
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(2, 250px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 250px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
    /* General Styling */
    h2 {
        margin-right: 3px;
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }

    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-top: 30px;
        padding: 10px 10px;
        font-size: 12px;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}