*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

svg{
    cursor: pointer;
}
/* Nav Bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
    background-color: #9046CF;
    color: #FFFFFF;
    padding: 25px 60px;
    margin-bottom: 30px;
}
    /* Cart Icon on Nav Bar */
.cart {
    position: relative; /* Have this here to make the 0 in the top right corner */
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 30px;
}
.cartAmount {
    /* Styling to make the 0 in the top right corner + styling of it */
    position: absolute; 
    top: -15px; /* To top */
    right: -10px; /* Shift to right. The px is important or won't work. */
   /* Cart Amount Styling */
    font-size: 16px;
    background-color: #F487B6;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
}
/* Banner Image */
.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner-img{
    width: 1085px;
    margin-bottom: 30px;
    
}
/* Shop Item Styles and Media Queries */
.shop{
    display: grid;
    grid-template-columns: repeat(4, 250px); /* Creates four repeating colums with width of 250px */
    gap: 30px;
    justify-content: center;
}
.item{
    border: 2px solid #9046CF;
    border-radius: 4px;
    background-color: white;
}
.shop-image{
    max-width: 246px;
    border-radius: 2px;
}
.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFF;
}
.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* Label and Buttons */
.text-center{
    text-align: center;
    margin-bottom: 20px;
}
.HomeBTN{
    background-color: #9046CF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}
.bi-x-lg{
    color: red;
    font-weight: bold;
}
.removeAll{
    background-color: rgb(223, 223, 20);
    color: #9046CF;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
}
.checkout{
    background-color: #9046CF;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
}
/* About Us */
.solid{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.solid-hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #9046CF 6px solid;
    margin: 30px 30px;
    width: 1090px
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 700px;
}
.our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 1090px;
}
.about-h2{
    color: #9046CF;
    margin-bottom: 12px;
    margin-top: 12px;
}
.about-p{
    margin-bottom: 30px;
}
.about-img{
    margin-top: 30px;
}
/* Shopping Cart on Cart Page */
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 360px);
    justify-content: center;
    gap: 15px;
}
.cart-item{
    display: flex;
    border: #9046CF 2px solid;
    border-radius: 6px;
    
}
.title-price-x{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-item-price{
    background-color: lavender;
    color: rgb(35, 1, 35);
    border-radius: 6px;
    padding:3px 12px;
}

 /* Footer */
 .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #9046CF;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 12px;
}
.copyright {
    color: #FFF3F0;
    text-decoration: none;
    margin-left: 5px;
}
/* Media Queries */
 /* Viewports between 200px and 376px wide */
@media only screen and (min-device-width: 200px) and (max-device-width: 376px) {
    body{
        width: 100vw;
    }
    /* Banner */
    .banner-img{
        width: 100vw;
        margin-bottom: 10px; 
    }
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(1, 175px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 171px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-bottom: 30px;
        font-size: .65rem;
    }
    h2 {
        margin-right: 3px;
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4{
        font-size: .9rem;
    }
    p {
        font-size: .75rem;
    }
    /* About Us */
.solid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.solid-hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #9046CF 6px solid;
    margin: 30px 0px;
    width: 175px
    }
.our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 90vw;
    }
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 20px 20px;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}
.about-h2{
    color: #9046CF;
    margin-bottom: 12px;
    margin-top: 12px;
}
.about-p{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 90vw;
    
}
.about-img{
    margin-top: 30px;
}
.media-about-img{
    width: 60vw;
}
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-top: 30px;
        font-size: .44rem;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}
/* Media Queries */
 /* Viewports between 377px and 700px wide */
 @media only screen and (min-device-width: 377px) and (max-device-width: 700px) {
    body{
        width: 100vw;
    }
    /* Banner */
    .banner-img{
        width: 100vw;
        margin-bottom: 10px; 
    }
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(2, 165px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 161px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-bottom: 30px;
        font-size: .65rem;
    }
    h2 {
        margin-right: 3px;
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4{
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
    /* About Us */
.solid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.solid-hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #9046CF 6px solid;
    margin: 30px 0px;
    width: 375px
    }
.our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 90vw;
    }
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 20px 20px;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}
.about-h2{
    color: #9046CF;
    margin-bottom: 12px;
    margin-top: 12px;
}
.about-p{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 90vw;
}
li {
    text-indent: 12px;
    list-style: none;
}
.about-img{
    margin-top: 30px;
}
.media-about-img{
    width: 60vw;
}
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-top: 30px;
        font-size: .44rem;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}
/* Media Queries */
 /* Viewports between 701px and 900px wide */
 @media only screen and (min-device-width: 701px) and (max-device-width: 900px) {
    body{
        width: 100vw;
    }
    /* Banner */
    .banner-img{
        width: 100vw;
        margin-bottom: 10px; 
    }
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(2, 175px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 171px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-bottom: 30px;
        font-size: .65rem;
    }
    h2 {
        margin-right: 3px;
        font-size: 1rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4{
        font-size: 1.1rem;
    }
    p {
        font-size: 1rem;
    }
    /* About Us */
.solid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.solid-hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #9046CF 6px solid;
    margin: 30px 0px;
    width: 380px
    }
.our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 90vw;
    }
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 20px 20px;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}
.about-h2{
    color: #9046CF;
    margin-bottom: 12px;
    margin-top: 12px;
}
.about-p{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 90vw;
    
}
.about-img{
    margin-top: 30px;
}
.media-about-img{
    width: 60vw;
}
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-top: 30px;
        font-size: .44rem;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}
/* Media Queries */
 /* Viewports between 901px and 1300px wide */
 @media only screen and (min-device-width: 901px) and (max-device-width: 1300px) {
    body{
        width: 100vw;
    }
    /* Banner */
    .banner-img{
        width: 100vw;
        margin-bottom: 10px; 
    }
    /* Shop Cards */
    .shop{
        grid-template-columns: repeat(2, 200px); /* Creates two repeating colums with width of 250px */
    }
    .shop-image{
        width: 196px;
        border-radius: 2px;
    }
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        background-color: #FFFFFF;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-bottom: 30px;
        font-size: .65rem;
    }
    h2 {
        margin-right: 3px;
        font-size: 1rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4{
        font-size: 1.1rem;
    }
    p {
        font-size: 1rem;
    }
    /* About Us */
.solid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.solid-hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #9046CF 6px solid;
    margin: 30px 0px;
    width: 380px
    }
.our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 90vw;
    }
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 20px 20px;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
   
}
.about-h2{
    color: #9046CF;
    margin-bottom: 12px;
    margin-top: 12px;
}
.about-p{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 90vw;
    
}
.about-img{
    margin-top: 30px;
}
.media-about-img{
   
}
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Makes Nav Bar title and cart at opposite ends of nav bar div. */
        align-items: center;
        background-color: #9046CF;
        color: #FFFFFF;
        max-width: 100vw;
        margin-top: 30px;
        font-size: .44rem;
    }
    .copyright {
        color: #FFF3F0;
        text-decoration: none;
        margin-left: 5px;
    }
}
